header {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 6.25rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  gap: 3rem;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: #ff6060;
  font-size: 1.5rem;
  font-weight: bold;
}

.active {
  text-decoration: underline;
}
